<!Doctype html>
<html>
<head>
  {% load static %}
  {% include 'app1/title.html' %}
  {% block title %}
  {% endblock %}
<link rel="stylesheet" type='text/css' href={% static 'app1/main.css' %}  />
</head>
<body>
{% include 'app1/head.html' %}
{% block header %}
{% endblock %}

<h1>Welcome to Login Services</h1>

{% if nouser %}
<h2 style='color:red'>{{ nouser }}</h2>
<h3 style='color:red'>you should signup to our site</h3>
{% endif %}
<center>
<form method="post" action='/mklogin/'>
  {% csrf_token %}
  {{ form.as_p }}
  <p>
    <input type="submit" value='LOGIN' />
    <a href='/signup/'>Signup?</a>
  </p>
</form>
</center>
  {% include 'app1/foot.html' %}
  {% block footer %}
  {% endblock %}
</body>
</html>
