<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css')}}">

</head>

<body>
<div>
    <nav>
        <table>
            <tr>
                <td><a href="/">HOME</a></td>
                <td><a href="/contact.html">Contact</a></td>
                <td><a href="/query.html">Query</a></td>
                <td><a href="signup.html">SignUP</a></td>
            </tr>
        </table>
    </nav>
</div>
<h1>Contact Here</h1>

{% for key,value in data.items() %}
<p style="font-size: xx-large;color: azure;">{{ key }} = {{ value }}</p>

{% endfor %}

<footer>Copyright&Grras Solutions Pvt. Ltd</footer>
</body>
</html>