h1 {
     color: indigo;
     font-size: x-large;
}
body {
    background-color: gray;
}


h1 {
     color: indigo;
     font-size: x-large;
}
body {
    background-color: gray;
}
form {
    text-align: center;
    text-decoration-color: darkslateblue;
    font-size: x-large;
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    background-color: oldlace;
}


